.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: var(--gap);
  counter-reset: benefits;
  --gap: 50px;
  --cart-count: 2;
}

.about__item {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 694px;
  flex-basis: calc(100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count));
}

.about__item-img {
  display: flex;
  flex-shrink: 0;
  color: var(--second-color);
}

.about__item-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
}