.guides__wrapper {
  position: relative;
  padding-right: 98px;
}

.guides__list {
  display: grid;
  grid-template-columns: repeat(2, 439px) minmax(439px, 639px);
  grid-template-rows: repeat(2, 429px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-radius: 60px 0 0 60px;
  overflow: hidden;
}

.guides__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.guides__item--high {
  grid-row: span 2;
}

.guides__item-label {
  position: absolute;
  top: 24px;
  right: 25px;
  z-index: 2;
}

.guides__item-content {
  position: relative;
  z-index: 1;
  backdrop-filter: blur(20px);
  background: rgba(176, 176, 175, 0.3);
  text-align: center;
  color: #FFFFFF;
  padding: 50px 25px;
}

.guides__item--short .guides__item-content {
  padding: 25px;
}

.guides__item-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.guides__item-text {
  margin-bottom: 25px;
}

.guides__item--short .guides__item-text {
  display: none;
}

.guides__item-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.guides__special {
  position: absolute;
  top: 0;
  right: -10px;
  bottom: 0;
  font-weight: 500;
  font-size: 96px;
  transform: rotate(90deg)
}