.visually-hidden {
  position: fixed;
  transform: scale(0);
}

body {
  font-family: "Acrom", sans-serif;
  min-height: 100vh;
  background-attachment: fixed;
  font-size: 20px;
  line-height: 1.2;
}

.btn {
  display: inline-block;
  font-size: 20px;
  padding: 10px 62px;
  border-radius: 40px;
  background: #FFFFFF;
  color: #000000;
  max-width: 320px;
  transition: all .2s linear;
  border: 1px solid transparent;
}

.btn:hover {
  color: #FFFFFF;
  background: var(--main-color);
  border-color: #FFFFFF
}

.container {
  max-width: 1684px;
  padding: 0 24px;
  margin: 0 auto;
  height: 100%;
  z-index: 3;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  z-index: 3;
}

.header__logo {
  font-weight: 300;
  font-size: 36px;
  display: flex;
  gap: 15px;
  align-items: center;
  color: #ffffff;
}

.section {
  padding: 50px 0;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
}